*.sdf
samples/Basic Usage/Debug/Basic Usage.log
samples/Basic Usage/Release/Basic Usage.Build.CppClean.log
samples/Basic Usage/Release/Basic Usage.log
samples/Basic Usage/Debug/Basic Usage.log
samples/Basic Usage/Release/Basic Usage.Build.CppClean.log
samples/Basic Usage/Release/Basic Usage.log